.root{
     --dorder-color: rgba(0, 255, 13, 0.7); /* Green with alpha */
     --shadow-color: rgba(124, 124, 124, 0.5); /* Semi-transparen
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    overflow: hidden;
    perspective: 800px; /* Add perspective */
}
.container{
    position: absolute;
    height: 90%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    position: absolute;
    background: transparent;
    width: calc(var(--i) * 2.5vmin);
    aspect-ratio: 1;
    border: 5px solid rbg(0,255,13);
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px);
    box-shadow: 0 0 15px rbg(124,124,124),inset 0 0 15px rng(124,124,124);
    animation: animate 3s ease-in-out calc(var(--i) *0.08s)infinite;
}
@keyframes animate{
    0%,
    100%{
        transform: rotateX(70deg) translateZ(50px) translateY(0);
        filter: hue-rotate(0);
    }
    50%{
        transform: rotateX(70deg) translateZ(50px) translateY(-50vmtn);
        filter: hue-rotate(360deg);
    }
}